@import "@/styles/variables.module";

.AppHeader {
  .logo {
    color: #fff;
    text-decoration: none;
  }
  .navlink,
  .navlink:visited {
    color: #fff;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    &::after {
      content: "";
      display: block;
      height: 1.5px;
      width: 0;
      background-color: $light-blue;
      transition: width 0.2s ease-in-out;
    }
    &:hover {
      color: #ffffffea;
    }
    &.active {
      color: $light-blue;
      &::after {
        width: 80%;
      }
    }
  }
}
